---
layout: default
title: NUSHackers
isMainPage: true
---

<div id="posts">
<header class="front-header">
    <h1 class="front-h1">Articles</h1>
    <ul class="clear-list sub-header">
        <li>
            <a href='http://school.nushackers.org'>hackerschool</a>: workshops for hackers &rarr;
        </li>
        <li>
            <a href='http://code.nushackers.org'>Code@NUS</a>: Code repository for NUS students &rarr;
        </li>
        <li>
            <a href='http://hacknroll.nushackers.org'>Hack&Roll</a>: 24-hour hackathon for students &rarr;
        </li>
    </ul>
</header>
{% for post in site.posts limit: 5 %}
    <article>
        <header class="entry-header">
            <div class="entry-meta">
                <time>{{ post.date | date_to_string }}</time>
            </div><!-- .entry-meta -->
            <h1 class="entry-title"><a href="{{ post.url }}" title="Permalink {{ post.title }}" rel="bookmark">{{ post.title }}</a></h1>

        </header><!-- .entry-header -->

        <div class="entry-content">
            <p>
            {{ post.content | strip_html | truncate: 180 }}
            <a class="readmore" href="{{ post.url }}">Read More</a>
            </p>
        </div><!-- .entry-content -->

    </article><!-- #post-<?php the_ID(); ?> -->

{% endfor %}
<a href="/articles">More Articles &rarr;</a>
</div><!--posts-->

<div id="right">
<header class="front-header">
    <h1 class="front-h1">Friday Hacks</h1>
    <ul class="clear-list sub-header">
        <li><a href="/sponsor">Supported</a> by NEC and IDA. </li>
    </ul>
</header>
{% include friday_hacks.html %}
</div>

<div id="leftbar">
    <strong>We're building a community of passionate hackers in NUS.</strong> <a href="/about">Read more about us</a>, attend or speak at <a href="/fridayhacks">one of our meetings</a>, or <a href="/code">use our code</a>.</div>
