[build]
  command = "yarn run build"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.111.3"
  YARN_VERSION = "1.22.17"

[context.deploy-preview]
  command = "yarn run partial-build -b $DEPLOY_PRIME_URL && npx pagefind --site public --output-subdir pagefind"