<li class="fh-item events-item item">
  <div>
    {{- if eq .hack.nohack nil -}}
      <span>#{{ .seriesNum }}: </span>
    {{- end -}}
    <time class="events-time" datetime={{ dateFormat "2006-01-02T15:04:05-07:00" .hackDate}}>
      <strong>{{- dateFormat "January 2" .hackDate -}}</strong>
    </time>
  </div>
  {{ if .hack.nospeaker }}
    <a class="fh-span" href="mailto:active@nushackers.org?subject=Interested in speaking at Friday Hacks Talk on {{- dateFormat " January 2" .hackDate -}}" + >Looking for speakers 👀</a>
  {{ end }}
  {{ if and (eq .hack.nohack nil) (eq .hack.nospeaker nil) }}
    <address class="events-address">{{ .hack.venue | safeHTML }}</address>
  {{- if ne .hack.blog_post nil -}}
    <a href="{{ .hack.blog_post }}">
  {{- end -}}
    <ul class="fh-topics">
      {{ range $topicIndex, $topic := .hack.topics }}
      <li class="fh-topic">
        <h3 class="topic-title">{{ $topic.title }}</h3>
        <div class="topic-speaker">
          {{ if eq $topic.from nil }}
            {{ $topic.speaker }}
          {{ else }}
            {{ $topic.speaker }} <span>({{ $topic.from }})</span>
          {{ end }}
        </div>
      </li>
      {{ end }}
    </ul>
  {{- if ne .hack.blog_post nil -}}
  </a>
  {{- end -}}
  {{ else }}
    {{ if .hack.nohack }}
      <em class="fh-span">No Friday Hacks - <b>{{$.hack.nohack}}</b></em>
    {{ end }}
  {{ end }}
</li>
