<li class="events-item item">
  <h3 class=hs-topic>{{ .event.topic }}</h3>
  {{- if ne .event.blog_post nil -}}
    <a href="{{ .event.blog_post }}">
  {{- end -}}
  <time class="hs-time" datetime={{ dateFormat "2006-01-02T15:04:05-07:00" .event.date}}>
    {{ dateFormat "Mon, Jan 2, 3:04pm" (time .event.date) }}
  </time>
  {{- if ne .event.blog_post nil -}}
    </a>
  {{- end -}}
  {{- if ne .event.venue nil -}}
  <address class="events-address">{{ .event.venue }}</address>
  {{- end -}}
</li>
