<ul class="clear-list fh-list">
{% assign date = site.data.friday_hacks.start_date %}
{% for hack in site.data.friday_hacks.hacks %}
<li>
    <time>{{ date | date: "%b %-d" }}</time>
    {% if hack.venue %}
        <div><small><i>{{ hack.venue }}</i></small></div>
    {% endif %}
    {% capture date %}
        {{ date | date: "%s" | plus: 604800 | date: "%b %d, %Y %I:%M %p +0800"}}
    {% endcapture %}
    {% if hack.nohack %}
        <div>
            <em>{{ hack.nohack }}, no Friday Hacks</em>
        </div>
    {% elsif hack.topics %}
        {% for topic in hack.topics %}
            <div>
                <div class="no-margin">
                {% if topic.speakers %}
                    {% for speaker in topic.speakers %}
                        <strong>{{ speaker.speaker }}</strong>{% if speaker.from %}<span> ({{ speaker.from }})</span>{% endif %}{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                {% else %}
                    <strong>{{ topic.speaker }}</strong>
                        {% if topic.from %}
                            <span>({{ topic.from }})</span>
                        {% endif %}
                {% endif %}
                </div>
                <div>{{ topic.title }}</div>
            </div>
        {% endfor %}
    {% else %}
        <div>Slot is open()</div>
    {% endif %}
</li>
{% endfor %}
</ul>