.header {
  align-items: center;
  margin-bottom: 1rem;
}

.banner {
  margin-top: 1rem;

  .banner-text {
    background-image: inline('./img/logos/quackers-logo-light.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      height: 5rem;
      background-position: left center;
    }
  }
  .banner-link {
    display: block;
    opacity: 0;
    height: 100%;
  }
}

.nav {
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 0.9rem;

    @extend .clear-list;

    @media (max-width: 576px) {
      justify-content: center !important;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      margin-top: 0.2rem;
      justify-content: left;
      gap: 0.2rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }
  }
  .nav-menu-item {
    position: relative;
    font-weight: bold;
    text-align: center;
  }
  .nav-menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $highlight-orange;
    transform: scaleX(0);
    transform-origin: left;
    @include transition(deceleration, transform);
  }
  .nav-menu-link {
    display: block;
    padding: 0.3rem 0.4rem 0.1rem;
    text-decoration: none;
    color: black;

    .search-text {
      display: none;
      padding-right: 0.2rem;
    }

    @include media-breakpoint-up(md) {
      padding: 0.4rem 0.5rem 0.2rem;
    }
    @include media-breakpoint-up(lg) {
      padding: 0.5rem 0.5rem 0.25rem;
    }
  }
  .nav-menu-active::after,
  .nav-menu-item:hover::after {
    transform: scaleX(1);
  }
  .nav-menu-active .nav-menu-link,
  .nav-menu-item:hover .nav-menu-link {
    text-decoration: none;
  }
}
