$hackers-orange: #cc4100;
$highlight-orange: #f8941d;
$button-link-color: #4a4a4a;
$link-color: $hackers-orange;
$link-hover-color: $hackers-orange;

$material-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$dashed-border: 1px dashed #ccc;

@import "./vendor.scss";
@import "./animation.scss";

body {
  background: #fdfdfd;
}

.body-container {
  padding: 0 2rem;
  background: white;
}

.main {
  animation-duration: 295ms;
  animation-timing-function: $standard-curve;
  animation-name: fade-up;
}

@keyframes fade-up {
  from {
    opacity: 0.25;
    transform: translateY(0.3rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.clear-list {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.text-center {
  text-align: center;
}

.fh-sponsor {
  display: block;
  max-width: 16rem;
  margin: 0 auto;
}

.twitter-tweet {
  margin: 0 auto;
}

/* Halloweeeeeeen 2019  */
:root {
  --width: 20px;
  --x-speed: 1.566456s;
  --y-speed: 2.7341s;
}

.x {
  position: fixed;
  height: 100%;
  top: 0;

  animation: x var(--x-speed) linear infinite alternate;
}
.y {
  height: 20px;
  width: 20px;
  animation: y var(--y-speed) linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(100vh - var(--width)));
  }
}

@import "./header.scss";
@import "./section.scss";
@import "./footer.scss";
@import "./front-page.scss";
@import "./archive.scss";
@import "./paginate.scss";
