.section {
  margin-bottom: 1rem;

  .section-title {
    font-size: $h1-font-size;
  }

  img {
    width: 100%;
  }

  blockquote > p {
    padding: 0.7rem 1rem;
    font-size: 0.95rem;
    border-left: 3px solid $hackers-orange;
  }

  .workgroups {
    margin: 1.5rem 0;

    details {
      border-top: 1px solid #ddd;

      &:last-child {
        border-bottom: 1px solid #ddd;
      }

      summary {
        padding: 0.9rem 0;
        color: $gray-900;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 500;

        &:focus-visible {
          outline: 2px solid $hackers-orange;
          outline-offset: 4px;
        }
      }

      p {
        margin: 0 0 1rem;
      }
    }
  }
}

.aside {
  margin-top: 1rem;
}

.single {
  h1 {
    font-size: 1.7rem;
  }

  .posted {
    font-size: 1.25rem;
    color: $gray-800;
  }

  .browse {
    justify-content: space-between;
  }

  .post-previous {
    a:before {
      content: "← ";
      color: $gray-800;
    }
  }

  .post-next {
    text-align: right;

    a:after {
      content: " →";
      color: $gray-800;
    }
  }
}
