{{ define "main" }}
{{ $hs := index $.Site.Data.hacker_school 
          (partial "projects/get_project.html" (dict "projectName" "hacker_school")) }}
<main class="container main">
  <div class="events hs col-12 col-md-10 offset-md-1">
    <h1>Hackerschool Schedule (AY{{ $.Site.Params.academicYear }} Semester {{ $.Site.Params.semester }})</h1>
    <ul class="hs-topics">
      {{ range $event := $hs.events }}
        {{ partial "projects/hackerschool_li.html" (dict "event" $event) }}
      {{ end }}
    </ul>
  </div>
</main>
{{ end }}