{{ define "main" }}
{{ $hs := index $.Site.Data.hackers_toolbox
(partial "projects/get_project.html" (dict "projectName" "hackers_toolbox")) }}
<main class="container main">
  <div class="events hs col-12 col-md-10 offset-md-1">
    <h1>Hackers Toolbox Schedule (AY{{ $.Site.Params.academicYear }} Semester {{ $.Site.Params.semester }})</h1>
    {{ if $hs }}
    <ul class="hs-topics">
      {{ range $event := $hs.events }}
      {{ partial "projects/hackerstoolbox_li.html" (dict "event" $event) }}
      {{ end }}
    </ul>
    {{ else }}
    <b>Watch out for this space 🚧</b>
    <p>We will be announcing the semester's schedule soon 🙌</p>
    {{ end }}
  </div>
</main>
{{ end }}
