{{ define "main" }}
<main class="container main">
  <section class="row section">
    {{ if .Pages }}
    <article class="col-12 col-md-8 push-md-4">
        <header class="section-header">
            <h1 class="section-title">{{ .Title }}</h1>
        </header>
        <div class="section-content">
            {{ .Content }}
        </div>
    </article>
    <aside class="col-md-4 pull-md-8 aside">
      {{ range .Pages }}
        {{ .Content}}
      {{ end }}
    </aside>
    {{ else }}
    <article class="col-12 col-md-10 offset-md-1">
        <header class="section-header">
            <h1 class="section-title">{{ .Title }}</h1>
        </header>
        <div class="section-content">
            {{ .Content }}
        </div>
    </article>
    {{ end }}
  </section>
</main>
{{ end }}
