{{ define "main" }}
<main class="row justify-content-center single main">
  <section class="col-12 col-md-8 section">
    <article>
        <h1>{{ .Title }}</h1>
        <h2 class="posted">Posted on <time>{{ .Date.Format "Jan 2" }}</time> by {{ .Params.author }}</h2>
        {{ .Content }}
        {{ if eq (substr .Title 0 14) "Friday Hacks #" }}
          {{ partial "friday_hack_footer.html" . }}
        {{ end}}
    </article>
  </section>
  <div class="col-12 col-md-10 browse">
    <div class="row">
      <div class="col-6 post-previous">
        {{ if .Prev }}
          <a href="{{ .Prev.Permalink }}">{{ .Prev.Title }}</a>
        {{ end }}
      </div>
      <div class="col-6 post-next">
        {{ if .Next }}
          <a href="{{ .Next.Permalink }}">{{ .Next.Title }}</a>
        {{ end }}
      </div>
    </div>
  </div>
  <aside class="col-12 col-md-10 aside">
    <div class="row">
      <ul class="col categories">
        {{ range .Params.topics }}
        <li><a href="{{ .BaseURL }}/topics/{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      <ul class="col tags">
        {{ range .Params.tags }}
          <li> <a href="{{ .BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      <div class="col-12">
        {{ partial "disqus.html" . }}
      </div>
    </div>
  </aside>
</main>
{{ end }}
{{ define "scripts" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" integrity="sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv" crossorigin="anonymous"></script>
{{ end }}
