{{ define "main" }}
<main class="row single main">
  <section class="col-12 col-md-8 offset-md-2 section">
    <article>
        <h1>{{ .Title }}</h1>
        <h2 class="posted">Posted on <time>{{ .Date.Format "Jan 2" }}</time> by {{ .Params.author }}</h2>
        {{ .Content }}
    </article>
  </section>
  <div class="col-12 col-md-10 offset-md-1 browse">
    <div class="row">
    {{ if .Prev }}
      <a class="col-6 previous" href="{{ .Prev.Permalink }}">{{ .Prev.Title }}</a>
    {{ end }}
    {{ if .Next }}
      <a class="col-6 next" href="{{ .Next.Permalink }}">{{ .Next.Title }}</a>
    {{ end }}
    </div>
  </div>
  <aside class="col-12 col-md-10 offset-md-1 aside">
    <div class="row">
      <ul class="col categories">
        {{ range .Params.topics }}
        <li><a href="{{ .BaseURL }}/topics/{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      <ul class="col tags">
        {{ range .Params.tags }}
          <li> <a href="{{ .BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      <div class="col-12">
        {{ partial "disqus.html" . }}
      </div>
    </div>
  </aside>
</main>
{{ end }}
