{{ template "_internal/google_analytics_async.html" . }}
{{ partial "meta.html" . }}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<link rel="dns-prefetch" href="//fonts.googleapis.com/">
<link rel="preload" href="/css/main.css" as="style">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Rubik:400,500">
{{- $style := resources.Get "css/main.scss" | toCSS (dict "outputStyle" "compressed") -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ if .IsHome }}
{{ range $event := $.Site.Data.events.events }}
<link rel="dns-prefetch" href="{{ $event.url }}"/>
{{ end }}
{{ end }}

{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
{{ end -}}
