{{ template "_internal/google_analytics_async.html" . }}
{{ partial "meta.html" . }}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<link rel="dns-prefetch" href="//fonts.googleapis.com/">
{{ $scss_options := (dict "targetPath" "/css/main.css" "outputStyle" "compressed" "includePaths" (slice "node_modules")) }}
{{ $postcss_options := dict "config" "postcss.config.js" "noMap" true }}
{{ $scss := resources.Get "scss/main.scss" }}
{{ $style := $scss | resources.ToCSS $scss_options | resources.PostCSS $postcss_options | resources.Fingerprint }}
<link rel="preload" href="{{ $style.RelPermalink }}" as="style">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Rubik:400,500">
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ if .IsHome }}
{{ range $event := $.Site.Data.events.events }}
<link rel="dns-prefetch" href="{{ $event.url }}"/>
{{ end }}
{{ end }}

{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
{{ end -}}
