<header class="row justify-content-between header">
  <div class="banner col-12 col-sm-4" role="banner">
    <h1 class="banner-text"><a href="/" title="NUS Hackers" rel="home" class="banner-link">NUS Hackers</a></h1>
  </div>
  <nav class="nav col-12 col-sm-10 col-lg-8">
    <ul class="nav-menu">
      {{ $currentURL := .Permalink }}
      {{ range .Site.Menus.main }}
      <li class="nav-menu-item{{ if in $currentURL .URL }} nav-menu-active{{ end }}"><a class="nav-menu-link" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}

      <li class="nav-menu-item">
        <a class="nav-menu-link search-toggle" id='search-toggle' aria-label="Search">
            <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 384 512" style="display: none;"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
