{{ define "main" }}
<main class="row front-page main">
  <section class="section col-12 hero">
    <h1 class="hero-title">
      Spreading the
      <a href="/hackerdefined/" class="hero-hacker">hacker</a> culture
    </h1>
    <ul class="list row justify-content-around">
      {{ range $event := $.Site.Data.projects.projects }}
        <li class="col hero-item">
          <a class="hero-link" href="{{ $event.url }}">
          {{ readFile $event.logo | safeHTML }}
          <div class="hero-details">
            <div class="hero-name">{{ $event.name }}</div>
            <div class="hero-desc">{{ $event.description }}</div>
          </div>
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
  <!-- Event Schedule -->
  <section class="section col-12">
    <header class="section-header">
      <h1 class="section-title">Upcoming events</h1>
    </header>
    <div class="row">
      <!-- Friday Hacks -->
      <div class="events fh col-12 col-md-4">
        <header class="front-header">
          <h2 class="front-title"><a href="/fridayhacks">Friday Hacks</a></h2>
        </header>
        <ol class="list">
          {{ $fh := index $.Site.Data.friday_hacks 
                    (partial "projects/get_project.html" (dict "projectName" "friday_hacks")) }}
          {{ partial "projects/friday_hacks_ol.html" 
             (dict "hacks" $fh.hacks "start_date" $fh.start_date "start_series_num" $fh.start_nr) }}
        </ol>
        <div class="events-button" role="button">More events</div>
      </div>
      <!-- Hackers Toolbox -->
      <div class="events hs col-12 col-md-4">
        <header class="front-header">
          <h2 class="front-title"><a href="/hackerstoolbox">Hackers Toolbox</a></h2>
        </header>
        <ol class="list">
          {{ $ht := index $.Site.Data.hackers_toolbox
                    (partial "projects/get_project.html" (dict "projectName" "hackers_toolbox")) }}
          {{ range $index, $event := $ht.events }}
            {{ partial "projects/hackertools_li.html" (dict "event" $event) }}
          {{ end }}
        </ol>
        <div class="events-button" role="button">More events</div>
      </div>
      <!-- Hackerschool -->
      <div class="events hs col-12 col-md-4">
        <header class="front-header">
          <h2 class="front-title"><a href="/hackerschool">Hackerschool</a></h2>
        </header>
        <ol class="list">
          {{ $hs := index $.Site.Data.hacker_school 
                    (partial "projects/get_project.html" (dict "projectName" "hacker_school")) }}
          {{ range $index, $event := $hs.events }} 
            {{ partial "projects/hackerschool_li.html" (dict "event" $event) }} 
          {{ end }}
        </ol>
        <div class="events-button" role="button">More events</div>
      </div>
    </div>
  </section>
  <section class="posts col-12 section">
    <header class="section-header">
      <h1 class="section-title">Featured Articles</h1>
    </header>
    <ul class="list row justify-content-between">
      {{ range first 7 (where .Site.RegularPages "Params.featured" true ) }}
      <li class="item col-12 col-sm-8 col-md-6 col-xl-4">
        <article>
          <header>
            <h3 class="posts-title">
              <a class="posts-link" href="{{ .Permalink }}">
                {{ .LinkTitle }}</a
              >
            </h3>
            <div class="posts-meta">
              {{ .Date.Format "Mon, Jan 2" }} • {{ .ReadingTime }} min read
            </div>
          </header>
          {{ .Summary | truncate 150 }} <a href="{{ .Permalink }}">more</a>
        </article>
      </li>
      {{ end }}
    </ul>
  </section>
  <section class="posts col-12 section">
    <header class="section-header">
      <h1 class="section-title">Articles</h1>
      <a href="/archive">Read more</a>
    </header>
    <ul class="list row justify-content-between">
      {{ range first 7 (where .Site.RegularPages "Type" "post") }}
      <li class="item col-12 col-sm-8 col-md-6 col-xl-4">
        <article>
          <header>
            <h3 class="posts-title">
              <a class="posts-link" href="{{ .Permalink }}">
                {{ .LinkTitle }}</a
              >
            </h3>
            <div class="posts-meta">
              {{ .Date.Format "Mon, Jan 2" }} • {{ .ReadingTime }} min read
            </div>
          </header>
          {{ .Summary | truncate 150 }} <a href="{{ .Permalink }}">more</a>
        </article>
      </li>
      {{ end }}
    </ul>
  </section>
  <section class="posts col-12 section">
    <header class="section-header">
      <h1 class="section-title">Join us</h1>
    </header>
    <p>
      Interested in joining us? Visit
      <a href="/join-coreteam" target="_blank">this page</a> to learn more!
    </p>
  </section>
</main>
{{ end }}
{{ define "scripts" }}
<script>{{ readFile "static/js/toggleShowMore.js" | safeJS }}</script>
{{ end }}
