{{ define "main" }}
<main class="row front-page main">
  <div class="hacknroll-row">
      <img class="fh-sponsor" src="/img/hnr2019-dark.svg" alt="Hack&Roll 2019" />
      <h1 class="centered">Join us for our largest ever Hack&Roll! Register <a href="https://hacknroll.nushackers.org"><span id="myBtn">here</span></a>!</h1>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id="hnr-info">
      
        <img id="in-modal-logo" src="/img/hnr2019-light.svg" alt="Hack&Roll 2019" />
        <p class="centered modal-text">Join us for our largest ever Hack&Roll! Register <a href="https://hacknroll.nushackers.org">here</a>!</p>
      </div>
    </div>
  </div>

  <section class="section col-12 hero">
    <h1 class="hero-title">
      Spreading the <a href="/hackerdefined/" class="hero-hacker">hacker</a> culture
    </h1>
    <ul class="list row justify-content-around">
      {{ range $event := $.Site.Data.projects.projects }}
        <li class="col hero-item">
          <a class="hero-link" href="{{ $event.url }}">
          {{ readFile $event.logo | safeHTML }}
          <div class="hero-details">
            <div class="hero-name">{{ $event.name }}</div>
            <div class="hero-desc">{{ $event.description }}</div>
          </div>
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
  <section class="section col-12">
    <header class="section-header">
      <h1 class="section-title">Upcoming events</h1>
    </header>
    <div class="row">
      <div class="events fh col-12 col-md-6">
        <header class="front-header">
          <h2 class="front-title">Friday Hacks</h2>
        </header>
        <ol class="list">
          {{ $weekInSeconds := 604800 }}
          {{ $date := $.Site.Data.friday_hacks.start_date }}
          {{ $dateUnix := (time $date).Unix }}
          {{ range $index, $hack := $.Site.Data.friday_hacks.hacks }}
            <li class="fh-item events-item item">
              {{ $hackDate := add $dateUnix (mul $index $weekInSeconds) }}
              <time class="events-time" datetime={{ dateFormat "2006-01-02T15:04:05-0700" $hackDate}}>
                {{ dateFormat "Jan 2" $hackDate }}
              </time>
              {{ if eq $hack.nohack nil }}
                <address class="events-address">{{ $hack.venue | safeHTML }}</address>
                <ul class="fh-topics">
                  {{ range $topicIndex, $topic := $hack.topics }}
                  <li class="fh-topic">
                    <h3 class="topic-title">{{ $topic.title }}</h3>
                    <div class="topic-speaker">
                      {{ if eq $topic.from nil }}
                        {{ $topic.speaker }}
                      {{ else }}
                        {{ $topic.speaker }} <span>({{ $topic.from }})</span>
                      {{ end }}
                    </div>
                  </li>
                  {{ end }}
                </ul>
              {{ else }}
                <em class="fh-span">{{ $hack.nohack }}, no Friday Hacks</em>
              {{ end }}
            </li>
          {{ end }}
        </ol>
        <div class="events-button" role="button">More events</div>
      </div>
      <div class="events hs col-12 col-md-6">
        <header class="front-header">
          <h2 class="front-title">Hackerschool</h2>
        </header>
        <ol class="list">
          {{ range $index, $event := $.Site.Data.hacker_school.events }}
            <li class="events-item item">
              <time class="hs-time" datetime={{ dateFormat "2006-01-02T15:04:05-0700" $event.date}}>
                {{ dateFormat "Mon, Jan 2, 3pm" (time $event.date) }}
              </time>
              <address class="events-address">{{ $event.venue }}</address>
              <h3 class=hs-topic>{{ $event.topic }}</h3>
            </li>
          {{ end }}
        </ol>
        <div class="events-button" role="button">More events</div>
      </div>
    </div>
  </section>
  <section class="posts col-12 section">
    <header class="section-header">
      <h1 class="section-title">Articles</h1>
      <a href="/archive">Read more</a>
    </header>
    <ul class="list row justify-content-between">
      {{ range first 7 .Data.Pages }}
      <li class="item col-12 col-sm-8 col-md-6 col-xl-4">
      <article>
        <header>
          <h3 class="posts-title"><a class="posts-link" href='{{ .Permalink }}'> {{ .LinkTitle }}</a> </h3>
          <div class="posts-meta">{{ .Date.Format "Mon, Jan 2" }} • {{ .ReadingTime }} min read</div>
        </header>
        {{ .Summary | truncate 150 }} <a href='{{ .Permalink }}'>more</a>
      </article>
      </li>
      {{ end }}
    </ul>
  </section>
</main>
{{ end }}
{{ define "scripts" }}
<script>{{ readFile "static/js/toggleShowMore.js" | safeJS }}</script>
<script>{{ readFile "static/js/modal.js" | safeJS }}</script>
{{ end }}
