.fh {
  .fh-list {
    @extend .clear-list;
  }
  .fh-list-item {
    margin-bottom: 0.75rem;
  }
  .fh-time {
    display: block;
    color: #999;
    border-bottom: $dashed-border;
  }
  .fh-address {
    margin: 0;
    font-style: italic;
    font-size: 0.9rem;
  }
  .fh-span {
    color: #999;
  }
  .fh-topics {
    @extend .clear-list;
  }
  .fh-speaker {
    margin: 0.5rem 0;
  }
}

.posts {
  .posts-list {
    @extend .clear-list;
  }
  .posts-list-item {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: $dashed-border;
  }
  .posts-title {
    font-size: 1.5rem;
  }
  .posts-link {
    color: $gray-dark;
  }
  .posts-meta {
    color: #999;
  }
}
