$font-small: 0.9rem;

.front-page {
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  .list {
    .item {
      padding-left: 0;
      @include media-breakpoint-down(sm) {
        padding-right: 0;
      }
    }
    @extend .clear-list;
  }

  .section {
    .section-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.75rem;
      border-bottom: 2px dotted $highlight-orange;
    }

    .section-title {
      margin-bottom: 0;
    }
  }
}

.hero {
  .hero-list {
    display: flex;
    justify-content: space-between;
  }

  .hero-item {
    flex: 1 0 100%;
    padding: 0.5rem 1rem 0.5rem 0;

    @include media-breakpoint-up(sm) {
      flex: 1 1 auto;
    }
  }
  .hero-link {
    display: block;
  }
}

.front-header {
  .front-title {
    margin-bottom: 0;
  }
  .front-list {
    margin: 0;
    margin-bottom: 0.5rem;
    @extend .clear-list;
  }
  a {
    text-decoration: underline;
    color: $gray-light;
  }
}

.events {
  .events-button {
    display: block;
    text-align: center;
    color: $button-link-color;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  }
  .item {
    opacity: 1;
    transform: none;
    @include transition(deceleration);
  }
  .item-hidden {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

.fh {
  .fh-time {
    display: block;
  }
  .fh-address,
  .fh-span {
    display: block;
    margin: 0;
    font-size: $font-small;
    color: $gray-light;
  }
  .fh-topics {
    @extend .clear-list;
  }
  .fh-item {
    margin: 0.5rem 0;
  }
  .fh-topic {
    margin-bottom: 0;
    font-size: 1.1rem;
  }
  .fh-speaker {
    font-size: $font-small;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 1.5rem;
  }
}

.hs {
  .hs-header {
    margin-top: 0.5rem;
  }
  .hs-time {
    display: block;
  }
  .hs-address {
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: $font-small;
    color: $gray-light;
  }
  .hs-topic {
    font-size: 1.1rem;
  }
}

.posts {
  .item {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .posts-title {
    margin-bottom: 0;
  }
  .posts-meta {
    margin-bottom: 0.3rem;
    font-size: $font-small;
    color: $gray-light;
  }
  .posts-link {
    color: $gray-dark;
  }
}
