.front-page {
  h1 {
    border-bottom: 0.1rem dotted $highlight-orange;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  .list {
    .item {
      padding-left: 0;
    }
    @extend .clear-list;
  }

  .section {
    margin-bottom: 1.5rem;
  }
}

.hero {
  .hero-list {
    display: flex;
    justify-content: space-between;
  }

  .hero-item {
    flex: 1 0 100%;
    padding: 0.5rem 1rem 0.5rem 0;

    @include media-breakpoint-up(sm) {
      flex: 1 1 auto;
    }
  }
}

.front {
  .front-header {
    margin-bottom: 0;
  }
  .front-list {
    margin-top: 0;
  }
}

.fh {
  margin-bottom: 1.5rem;

  .fh-time {
    display: block;
    color: #999;
  }
  .fh-address {
    margin: 0;
    font-style: italic;
    font-size: 0.9rem;
  }
  .fh-span {
    color: #999;
  }
  .fh-topics {
    @extend .clear-list;
  }
  .fh-item {
    margin: 0.5rem 0;
    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }
  .fh-topic {
    margin-bottom: 0;
    font-size: 1.1rem;
  }
  .fh-speaker {
    font-size: 0.9rem;
  }
}

.hs {
  .hs-header {
    margin-top: 0.5rem;
  }
  .hs-time {
    display: block;
    color: #999;
  }
  .hs-address {
    margin: 0;
    margin-bottom: 0.25rem;
    font-style: italic;
    font-size: 0.9rem;
  }
  .hs-topic {
    font-size: 1.1rem;
  }
}

.posts {
  .item {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .posts-link {
    color: $gray-dark;
  }
  .posts-meta {
    color: #999;
  }
}
