.header {
  align-items: center;
  margin-bottom: 1rem;
}

.hero {
  .hero-hackers {
    color: $highlight-orange;
  }
}

.banner {
  margin-top: 1rem;

  .banner-text {
    margin: 0;
    background-image: inline('./img/nushackers-compressed.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      height: 6rem;
    }
  }
  .banner-link {
    display: block;
    opacity: 0;
    height: 100%;
  }
  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}

.nav {
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 0.9rem;

    @extend .clear-list;
    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }
  }
  .nav-menu-item {
    position: relative;
    font-weight: bold;
    text-align: center;
  }
  .nav-menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $highlight-orange;
    transform: scaleX(0);
    transform-origin: left;
    @include transition(deceleration, transform);
  }
  .nav-menu-link {
    display: block;
    padding: 0.3rem 0.4rem 0.1rem;
    text-decoration: none;
    color: black;

    @include media-breakpoint-up(md) {
      padding: 0.4rem 0.5rem 0.2rem;
    }
    @include media-breakpoint-up(lg) {
      padding: 0.5rem 0.5rem 0.25rem;
    }
  }
  .nav-menu-active::after,
  .nav-menu-item:hover::after {
    transform: scaleX(1);
  }
  .nav-menu-active .nav-menu-link,
  .nav-menu-item:hover .nav-menu-link {
    text-decoration: none;
  }
}
