$hackers-orange: #cc4100;
$highlight-orange: #f8941d;
$button-link-color: #4a4a4a;
$link-color: $hackers-orange;
$link-hover-color: $hackers-orange;

$material-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$dashed-border: 1px dashed #ccc;

@import "./vendor.scss";
@import "./animation.scss";

body {
  // Add a little circuit bord zest to our background
  background: inline('./img/background.svg');
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // Our favourite distro! /s
  font-family: 'Ubuntu', $font-family-sans-serif;
}

.body-container {
  padding: 0 2rem;
  background: rgba(255, 255, 255, 0.7);
}

.main {
  animation-duration: 295ms;
  animation-timing-function: $standard-curve;
  animation-name: fade-up;
}

@keyframes fade-up {
  from {
    opacity: 0.25;
    transform: translateY(0.3rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.clear-list {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.fh-sponsor {
  display: block;
  max-width: 16rem;
  margin: 0 auto;
}

@import "./header.scss";
@import "./section.scss";
@import "./footer.scss";
@import "./front-page.scss";
@import "./archive.scss";
@import "./paginate.scss";
