certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
dotenv==0.9.9
google-api-core==2.31.0
google-api-python-client==2.198.0
google-auth==2.55.1
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
httplib2==0.32.0
idna==3.18
oauthlib==3.3.1
proto-plus==1.28.0
protobuf==7.35.1
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pyparsing==3.3.2
python-dotenv==1.2.2
pyyaml==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
uritemplate==4.2.0
urllib3==2.7.0
