---
layout: post
comments: true
categories: [Uncategorized]
---

{{ content }}

<h3>
Our Sponsors
</h3>

<p>
Friday Hacks is sponsored by the NUS Enterprise Center and the Infocomm Development Authority.
</p>

<a href="/res/2013/10/ETP-logo-full-color-vertical-to-be-used.jpg"><img alt="" src="/res/2013/10/ETP-logo-full-color-vertical-to-be-used-300x247.jpg" width="180" height="148" /></a><a href="/res/2013/10/ida.png"><img alt="" src="/res/2013/10/ida-300x280.png" width="146" height="136" /></a>

If you are looking to turn your ideas into a startup and would love some business support, feel free to get in touch with Jason from NUS Enterprise: jasontgw@nus.edu.sg