---
layout: default
---
<div id="secondary" class="widget-area" role="complementary">
    {{ page.notes }}
</div>
<div id="single-content" role="main">
    {% if page.id %}
        {% if page.previous or page.next %}
            <nav id="nav-above">
            {% include post-nav.html %}
            </nav><!-- #nav-above -->
        {% endif %}
    {% endif %}
    <article>
        <header class="entry-header">
            <h1 class="entry-title">{{ page.title }}</h1>
            {% if page.id %}
            <div class="entry-meta-single">
                <span class="sep">Posted on </span><time class="entry-date" datetime="{{ page.date }}" pubdate>{{ page.date | date_to_string }}</time>
                {% if page.author %}
                    <span class="sep"> by </span> <span class="author vcard">{{ page.author }}</span>    
                {% endif %}
            </div>
            {% endif %}
        </header><!-- .entry-header -->

        <div class="entry-content">
            {{ content }}
        </div><!-- .entry-content -->
        {% if page.id %}
            <footer class="entry-meta-single">
            This entry was posted in
            {% for category in page.categories %}
                <a href="/categories/{{ category | slugize }}" title="View all posts in {{ category }}" rel="category tag">{{ category }}</a>{% endfor %}. Bookmark the <a href="{{ page.url }}" title="Permalink to {{ page.title }}" rel="bookmark">permalink</a>.
            </footer><!-- .entry-meta-single -->
        {% endif %}
    </article>
    {% if page.id %}
        {% if page.previous or page.next %}
            <nav id="nav-below">
            {% include post-nav.html %}
            </nav><!-- #nav-below -->
        {% endif %}

        {% include share-buttons.html %} 
        {% include comments.html %}
    {% endif %}

</div><!-- #content -->