{{ define "main" }}
<main class="container main">
  <section class="row section">
    <div class="archive posts col-12 col-md-8 push-md-4">
      {{ $paginator := .Paginate (where .Site.Pages "Type" "post") 15 }}
      {{ range $paginator.Pages.GroupByDate "2006"}}
      <h1 class="archive-title"><a href="#">{{ .Key }}</a></h1>
      <ul class="archive-list">
        {{ range .Pages }}
        <li class="item">
        <article>
          <header>
            <h2 class="posts-title"><a class="posts-link" href='{{ .Permalink }}'> {{ .LinkTitle }}</a> </h2>
            <div class="posts-meta">{{ .Date.Format "Mon, Jan 2" }} • {{ .ReadingTime }} min read • {{ .Params.author }}</div>
          </header>
        </article>
        </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ template "_internal/pagination.html" . }}
    </div>
    <aside class="col-md-4 pull-md-8 aside">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </aside>
  </section>
</main>
{{ end }}
