{{ define "main" }}
<main class="container main fh">
  <div class="col-12 col-md-10 offset-md-1">
    <h1>Friday Hacks Schedule</h1>
    <ol class="clear-list">
      {{ $weekInSeconds := 604800 }}
      {{ $date := $.Site.Data.friday_hacks.start_date }}
      {{ $dateUnix := (time $date).Unix }}

      {{ range $index, $hack := $.Site.Data.friday_hacks.hacks }}
        <li class="">
          {{ $hackDate := add $dateUnix (mul $index $weekInSeconds) }}
          <time class="" datetime={{ dateFormat "2006-01-02T15:04:05-0700" $hackDate}}>
            {{ dateFormat "Jan 2" $hackDate }}
          </time>
          {{ if eq $hack.nohack nil }}
            <address class="fh-address">{{ $hack.venue }}</address>
            <ul class="fh-topics clear-list">
              {{ range $topicIndex, $topic := $hack.topics }}
              <li class="fh-item">
                <h3 class="fh-topic">{{ $topic.title }}</h3>
                <div class="fh-speaker">
                  {{ $topic.speaker }} <span>({{ $topic.from }})</span>
                </div>
              </li>
              {{ end }}
            </ul>
          {{ else }}
            <em class="fh-span">{{ $hack.nohack }}, no Friday Hacks</em>
          {{ end }}
        </li>
      {{ end }}
    </ol>
  </div>
</main>
{{ end }}
